<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.zust.ttms.courseware.dao.CoursewareInfoDao">
    
    <resultMap id="coursewareInfoResultMap" type="cn.zust.ttms.courseware.entity.CoursewareInfo">
        <result column="id" property="id"/>
        <result column="courseware_name" property="coursewareName"/>
        <result column="upload_time" property="uploadTime"/>
        <result column="type_id" property="typeId"/>
        <result column="note" property="note"/>
        <result column="upload_person" property="uploadPerson"/>
    </resultMap>

    <sql id="findByMessage">
      <where>
          <if test="name!=null and name!=''">
              courseware_name LIKE concat("%",#{name},"%")
          </if>
          <if test="type!=null and type!=''">
              and type_id=#{type}
          </if>

      </where>
    </sql>

  <select id="findTollInfo" resultType="java.util.Map">
      SELECT i.*,t.type_name typeName FROM courseware_info i LEFT JOIN courseware_type t on i.type_id=t.id
      <include refid="findByMessage"></include>
      limit #{startIndex} ,#{pageSize}
  </select>


    <select id="countInfoNum" resultType="long">
        SELECT count(*) FROM  courseware_info <include refid="findByMessage"></include>
    </select>

</mapper>